*{
    margin: 0;
    padding: 0;
}
.container-with-dots{
    padding-left: 79px;
    padding-top: 20px;
}
/* .nav_color{
    background-color: transparent;

} */
.back{
    background : linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url(../src/img/vidar-nordli-mathisen-Vl5Awbq9jx0-unsplash.jpg);
    background-blend-mode: screen;
    width: 100%;
    height: 101.5vh;
    background-position: center;
    background-size: cover;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.pos{
    width: 80%;
    height: 46px;
    margin:  0 auto;
}
.col-1{
    flex: 0 0 auto;
    width: 10.833333%;
}
#cameras{
    opacity: 0;
    animation : Faderight .5s forwards;
    animation-delay: .5s;
}
.img-frame {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .15);
    background: #ee0;
    margin: 20px auto;
  }
  
  /* This is for responsive container with specified aspect ratio */
  .aspect-ratio {
    position: relative;
  }
  .aspect-ratio-1-1 {
    padding-bottom: 100%;
  }
  .aspect-ratio-4-3 {
    padding-bottom: 75%;
  }
  .aspect-ratio-16-9 {
    padding-bottom: 56.25%;
  }
  
  /* This is the key part - position and fit the image to the container */
  .fit-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 80%;
    max-height: 90%
  }
  .fit-img-bottom {
    top: auto;
  }
  .fit-img-tight {
    max-width: 100%;
    max-height: 100%
  }
#we{
    animation: zoomanimate .5s forwards;
    animation-delay: .9s;
}
#aboutplace{
    /* opacity: 0; */
    /* animation : Fadeleft .5s forwards; */
    /* animation-delay: .5s; */
    background:url("https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    position: sticky;
      background-size: cover;
      background-position: 50%;
      background-attachment: fixed;
      
    
}
#aboutplace::after{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 60, 136, 0.5);
  z-index: -1;
}
.secondary{
    /* border: 1px solid white; */
    height: 285.5px;
}
.main{
    /* border: 1px solid white; */
    height: 285.5px;
}
.lines::after{
    display:block;
  content: '';
  width: 30%;
  border-bottom: solid 3px #0056b3;  
}
.heading{
    color: #222222;
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 600;
    font-size: 2.8em;
    line-height: 72px;
}
.main_page{
    background: url("../src/img/noaa-ZVhm6rEKEX8-unsplash\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;

}
.main-h1{
    color: white;
    font-size: 6em;
    font-weight: 300;
    font-family: 'BioRhyme', serif;
}
.linesh5{
    color: #0056b3!important;
}
.main-h3{
    color: white;
    font-size: 2em;
    justify-content: center;
    display: flex;
    font-weight: 300;
    font-family: 'BioRhyme', serif;
}
.main-btn{
    margin: 0 auto;
    display: flex;
    margin-top: 23px;
}
.date{
    display: flex;
    justify-content: space-between;
    color: white;
    height: 44px;
    background: #2D303D;
    align-items: center;
}
.day{
    display: flex;
    color: white;
    height: 44px;
    background: #2D303D;
    align-items: center;
}
input:required:focus{
    box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}
.temp{
    
    font-weight: 500;
}
.imgheight{
    height: 320px;
    transition :cubic-bezier(1, 0, 0, 1);
    width: 320px;
    border-radius: 10px;
}

  /* Tourism Component */
  .headerTitle p {
    color: rgba(0, 0, 0, 0.5);
  }

  #packageBody {
    background-color: rgb(245, 245, 245);
  }
  .subComponent {
    padding: 50px 0px;
  }
  .subComponent-lg {
    padding: 80px 0px;
  }  
  .tour-cover {
    width: 90%;
    padding: 20px 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
  }
  
  .tour-cover img {
    width: 100%;
  }
  
  .tour-gallery img {
    width: 50%;
    height: 100px;
    object-fit: cover;
    padding: 5px;
  }
  
  .tour-msg input,
  .tour-msg textarea {
    width: 100%;
    margin: 5px;
    border: 1px solid #6c757d;
    padding: 10px;
    border-radius: 5px;
    background: none;
  }
  
  .msg input,
  .msg textarea {
    width: 100%;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .msg .btn {
    margin: 5px;
  }
  
  .reviews {
    background: #f1f1f1;
    padding: 40px 0px 80px 0px;
    margin: 0px;
  }
  
  
  @media (min-width: 284px) {
    .card-columns {
      margin: 0px 20px;
    }
  
    .tour-msg {
      margin: 0px 10px;
    }
  }
  
  @media (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 2 !important;
      -moz-column-count: 2 !important;
      column-count: 2 !important;
    }
  
    .tour-msg {
      margin: 0px 20px;
    }
  }
  
  @media (min-width: 986px) {
    .card-columns {
      -webkit-column-count: 3 !important;
      -moz-column-count: 3 !important;
      column-count: 3 !important;
    }
  
    .tour-msg {
      margin: 0px 50px;
    }
  }
  
  .tour-msg {
    margin: 0px 50px;
  }
.packageBody .badge {
  margin: 0px 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.tour-cover {
  width: 90%;
  padding: 20px 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
}

.tour-cover img {
  width: 100%;
}

.tour-gallery img {
  width: 50%;
  height: 100px;
  object-fit: cover;
  padding: 5px;
}

.tour-msg input,
.tour-msg textarea {
  width: 100%;
  margin: 5px;
  border: 1px solid #6c757d;
  padding: 10px;
  border-radius: 5px;
  background: none;
}

.msg input,
.msg textarea {
  width: 100%;
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

.msg .btn {
  margin: 5px;
}

.reviews {
  background: #f1f1f1;
  padding: 40px 0px 80px 0px;
  margin: 0px;
}
  @keyframes Faderight {
    0%{
        transform: translateX(4rem);
        overflow-x: hidden;
        
    }    
    100%{
        overflow-x: hidden;
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes Fadeleft {
    0%{
        transform: translateX(-4rem);
        
    }    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoomanimate {
    0%{
        transform: scale(1); 
    }
    50%{
        transform: scale(1.3); 
    }
    100%{
        transform: scale(1); 
    }
    
}
@media screen and (max-width : 1400px) {
    .temp{
        font-weight: 500;
        font-size: 4.75rem!important;
    }
    .fs-3{
        font-size: 1.5rem!important;
    }
}
@media screen and (max-width : 1199px){
    .temp{
        font-weight: 500;
        font-size: 4.75rem!important;
    }
    .heading{
        font-size: 3.5em
    }
    .lines{
        margin-left: 27px!important;
    }
    .imgheight{
        width: 257px;
        height: 280px;
        padding: 0 5px;
    }
    .weather-icon{
        width: 86px;
        height: 96px;
    }
    .fa-4x{
        font-size: 3.4em;
        margin-right: 40px;
    }
    .fa-3x {
        font-size: 2em;
    }
    .curr-weath{
        margin-top : 18px;
    }
    .container-with-dots{
        padding-left: 40px;
    }
}
/* @media screen and (max-width : 1121px){
    .imgheight{
        width: 207px;
        height: 170px;
       
        padding: 0 10px;
    }
} */
@media screen and (max-width : 992px){
    .main-h1{
        font-size: 5em;
    }
    .main-h3{
        font-size: 1.5em;
    }
    .imgheight{
        width: 240px;
        height: 280px;
        padding: 0 10px;
    }
    .temp{
        font-weight: 500;
        font-size: 3.12rem!important;
    }
    .container-with-dots{
        padding-left: 20px;
        padding-top: 50px;
    }
    .weather-icon {
        width: 70px;
        height: 80px;
    }
    .fs-3{
        font-size: 1.2rem!important;
    }
    .secondary {
        height: 235px;
    }
    .main {
        height: 235px;
    }
    .w-100 {
        /* width: 104%!important; */
        font-size: 0.85em;
    }
}
@media screen and (max-width : 930px){
    .main-h1{
        font-size: 4em;
    }
    .main-h3{
        font-size: 1.3em;
    }
    .imgheight{
        width: 235px;
        height: 250px;
       
        padding: 0 10px;
    }
}
@media screen and (max-width : 890px){
    .back{
        height: auto;
    }
    #aboutplace{
        height: auto!important;
    }
    .live-images{
        flex-direction: column;
        align-items: center;
    }
    .fs-3{
        font-size: 1.8rem!important;
    }
    /* .imgheight{
        height: 210px;
        width: 280px;
       
        padding: 0 10px;
    } */
    /* .lines::after{
        width: 100%;
    } */
    .img1{
        width: 100%!important;
        margin-bottom: 20px;
        align-items: center;
        /* justify-content: center; */
        display: flex;
        flex-direction: column;
    }
    #weather{
        flex-direction: column;
        align-items: center;
        display: flex;
        padding-bottom: 15px;
    }
    .col-1{
        width: 50.333333%;
    }
    .col-4{
        width: 50.333333%;
    }
    .col {
        flex: 1 0 51%;
    }
}
@media screen and (max-width : 831px) {
       .imgheight{
        height: 240px;
        width: 250px;
        
        padding: 0 10px;
    }
    .container-with-dots{
        padding-left: 0px;
        padding-top: 60px;
    }
}
@media screen and (max-width : 507px){
    .main-h1{
        font-size: 3.5em;
    }
    .main-h3{
        font-size: 1.2em;
    }
    .heading{
        font-size: 3em
    }
    .pos{
        height: 38px;
    }
    .temp{
        font-size: 3.34rem!important;
    }
    .weather-icon {
        width: 60px;
        height: 70px;
    }
}
@media screen and (max-width : 576px ) {
    .subComponent-lg{
        padding-top: 150px;
        overflow-x: hidden;
        padding-right: 48px;
    }
}
@media screen and (max-width : 472px){
    .main-h1{
        font-size: 3em;
    }
    .main-h3{
        font-size: 1em;
    }
    .imgheight{
        height: 210px;
        width: 280px;
       
        padding: 0 10px;
    }
    .temp{
        font-size: 2.7rem!important;
        margin-left: -21px!important;
    }
    .wea-main{
        flex-direction: column;

    }
    .place{
        font-size: 1.15rem!important;
        text-align: center;
        margin-top: 0!important;
        margin-left: 0!important;
    }
    .secondary {
        height: 205px;
    }
    .main {
        height: 205px;
    }
}
@media screen and (max-width : 464px) {
    .container-with-dots{
        padding-left: 4.5em;
    }
    .lines{
        width: 38%;
        display: inline-block;
        margin-left: 3.5em!important;
    }
    .imgheight{
        padding: 0%;
        padding-right: 1.5em;
    }
    .lines::after{
        width: 0;
    }
    .linesh5{
        padding-left: 1.2em;
    }
}
@media screen and (max-width : 385px){
    .main-h1{
        font-size: 2.4em;
    }
    .main-h3{
        font-size: 0.8em;
    }
    .main-btn{
        font-size: .5em;
        width: 98px;
        height: 29px;
    }
    .linesh5{
        font-size: 0.9em;
        padding-left: 0.8em!important;
    }
    .bg-image{
        margin-left: -13px;
    }
    .imgheight{
        height: 170px;
        width: 200px;
       
        padding: 0 ;
        padding-right: 0%;
    }
    .date{
        /* width: 104%!important; */
        font-size: 0.82em;
    }
    .lines{
        margin-left: 1.95em!important;
    }
}
@media screen and (max-width : 280px){
    .main-h1{
        font-size: 2em;
    }
    .main-h3{
        font-size: 0.5em;
    }
}